/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.navbar-dark{
  background-color:#10AC84!important;
}
.btn-primary{
  background-color: #10AC84!important;
  border-color: aliceblue;
}

img.card-img-top{
  height: 148px!important;
  width: 223px!important;
}
#yesButton{
  background-color: #10AC84!important;
}

