/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.navbar-dark{
  background-color:#10AC84!important;
}
.btn-primary{
  background-color: #10AC84!important;
  border-color: aliceblue;
}

img.card-img-top{
  height: 148px!important;
  width: 223px!important;
}
#yesButton{
  background-color: #10AC84!important;
}

.rating {
       float:left;
       width:300px;
       margin-left: -130px;
}
.rating span { float:right; position:relative; }
.rating span input {
       position:absolute;
       top:0px;
       left:0px;
       opacity:0;
}
.rating span label {
       display:inline-block;
       width:30px;
       height:30px;
       text-align:center;
       color:#FFF;
       background:#ccc;
       font-size:30px;
       margin-right:2px;
       line-height:30px;
       border-radius:50%;
       -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
       background:#10AC84;
       color:#FFF;
}